.App-input {
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
    font-size: 10px;
    font-family: "Bruno Ace", sans-serif;
    box-shadow: 1px 1px 2px 1px #8c8c8c;
  }
  .readonly {
    background-color: #ebeaea;
  }
  