

@font-face {
  font-family: "Bruno Ace";
  src: url("./static/font/Bruno Ace.ttf") format("truetype");
}
.App {
  font-family: "Bruno Ace", sans-serif;
}

.App-logo {
  height: 5vmin;
  width: 25vmin;
  pointer-events: none;
  padding: 20px 0px 20px 0px;
  margin-left: 15vw;
}




::-webkit-scrollbar {
  width: 10px; 
  background-color: #444343;
}

::-webkit-scrollbar-thumb {
  background-color: #8c8c8c; 
  border-radius: 50px;
}
