

@font-face {
  font-family: "Bruno Ace";
  src: url("./static/font/Bruno Ace.ttf") format("truetype");
}
.App {
  font-family: "Bruno Ace", sans-serif;
}

.App-logo {
  height: 5vmin;
  width: 25vmin;
  pointer-events: none;
  padding: 20px 0px 20px 0px;
  margin-left: 15vw;
}


.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px; 
  background-color: #444343;
}

::-webkit-scrollbar-thumb {
  background-color: #8c8c8c; 
  border-radius: 50px;
}

@media (max-width: 1200px) {
  .App-logo {
    height: 25%;
    width: 25%;
    min-width:200px;
    max-height: 50px;
    pointer-events: none;
    padding: 20px 0px 20px 0px;
    margin-left: 2.5%;
  }
    
  }